%h2 Poems
-if @poems
  %table.table.table-striped
    %tr
      %th Title
      %th Created
      %th Author
    -@poems.each do |p|
      %tr
        %td=link_to p.title, p
        %td=dt p.created_at
        %td=user_link p.user
        
  =paginate @poems