.message_header
  %span
    -if message.is_a? ReceivedMessage
      From: #{user_link message.from}
    -else
      To: #{raw Array.wrap(message.to).map{|u| user_link(u) }.join(", ")}
  %small.pull_right=dt message.created_at
  -if message.is_a? ReceivedMessage
    %span{:style => "padding-left: .5em;"}
      %ul.edit-links
        %li
          -unless message.read?
            =icon_link "check", "Read", account_message_path(current_user, message, "message[read]" => '1', :return => here), :method => :put
          -else
            =icon_link "check", "Unread", account_message_path(current_user, message, "message[read]" => '0', :return => here), :method => :put
        %li           
          -if message.flagged?
            %span{title: "Reporting can't be undone, sorry."} Reported
          -else
            =icon_link "flag", "Report", account_message_path(current_user, message, "message[flagged]" => '1', :return => here), :method => :put, :confirm => "Are you sure you want to report this?"
        %li=icon_link "remove", "Delete", account_message_path(current_user, message, "message[deleted]" => '1', :return => here), :method => :put, :confirm => "Are you sure you want to delete this?"

.well.contents=rich message.contents