%h3=params[:action].titleize

-@messages.each do |message|
  %p.meta.inline-block
    %span.muted
      Sent on  
      =dt(message)
      by #{user_link message.from}
  %ul.inline.inline-block
    %li=icon_link 'check', message.read? ? "unread" : "read", toggle_message_path(message, return: here), class: 'btn btn-mini', method: :post
    %li=icon_link "remove", "delete", message_path(message, return: here), class: 'btn btn-mini btn-danger', method: :delete, confirm: "Delete this message?"
    %li=icon_link 'flag', "report", report_message_path(message, return: here), class: 'btn btn-mini btn-danger', method: :put, confirm: "Report this message?"
  .well=rich message.message