%h2.page-header New Message to 
=tb_form_for @message, url:account_messages_path(current_user), html:{class:'form-horizontal'} do |f|
  =f.inputs do
    =f.hidden_field :to_ids
    =f.text_area :contents, rows:5
  =f.actions do
    =f.submit @message.new_record? ? "Create" : "Update", class:"btn btn-primary"
    =link_to "Cancel", return_path(account_messages_path(current_user)), :class => "btn"