=simple_form_for @message, html:{class:'form-horizontal'}  do |f|
  =f.input :to_name
  =f.input :message, input_html:{class: 'redactor'}
  .form-actions
    =f.submit class: 'btn btn-primary'
    =link_to "Cancel", return_path(messages_path), class: 'btn'