%h2 
  Sign up via email
  %small=link_to "or use your Facebook account", omniauth_authorize_path(resource_name, "facebook")

=simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| 
  .form-horizontal
    -hint = 'This is the name that will show up on your profile. <br/>' + link_to("Fill in from your facebook account?", omniauth_authorize_path(resource_name, "facebook")) 
    =f.input :name, placeholder: "Jonathan Jeremiah Doe", hint: hint
    =f.input :email, placeholder: "jonathan.doe@example.com", hint: "Only used for login. We hate spam just as much as you do."
    =f.input :password, hint: "Must be at least six characters"
    =f.input :password_confirmation, label: "Confirm Password"
      
    .form-actions
      =f.button :submit, "Sign up"
      =link_to "Already have an account with us?", new_session_path(resource_name)
