-# required: comment or @comment
-comment ||= @comment

=form_for comment, html:{class:'form-horizontal', data:{comment_id:comment.id}}  do |f|
  -if comment.new_record?
    =f.hidden_field :commentable_type
    =f.hidden_field :commentable_id
  =f.text_area :contents, class: 'redactor', rows: 8
  .comment-form-actions
    =f.submit class: 'btn btn-primary'