-# required: commentable

#comments.comments
  -commentable.comments.each do |comment|
    -next if comment.new_record?
    =render 'comments/show', comment: comment

-if commentable.visible? && signed_in?
  =render "comments/new", comment: commentable.comments.build