-@news_posts.each do |news_post|
  %h1
    %small News
    =news_post.title
  .meta-data.vbottom
    Last updated on #{dt(news_post.created_at)}
    by #{user_link news_post.user} 
  .rich=rich news_post.contents
=paginate @news_posts