%h2 Site News
-if @posts
  %table.table.table-striped
    %tr
      %th Title
      %th Created
      %th Author
    -@posts.each do |post|
      %tr
        %td=link_to post.title, post
        %td=dt post.created_at
        %td=user_link post.user

  =paginate @posts