-if admin?
  .pull-right 
    =link_to "admin", [:edit, :admin, @post], :class => 'btn small btn-primary'
%h1
  =h @post.title
%div
  by #{user_link @post.user} in #{link_to "Site News", news_posts_path} on #{dt(@post.created_at)}

%hr.slim
.rich=rich @post.contents
%hr.slim
=render 'comments/index', :comments => @comments, :commentable => @post