%article.news_post
  %h1
    =@news_post.title
  .meta
    Last updated on #{dt(@news_post.created_at)}
    by #{user_link @news_post.user} 
    =admin_link(@news_post)
  .rich=rich @news_post.contents

=comments_for @news_post