%h1 Literature
-if @literatures
  %table.zebra-striped
    %tr
      %th Title
      %th Created
      %th Author
    -@literatures.each do |l|
      %tr
        %td=link_to l.title, l
        %td=dt l.created_at
        %td=user_link l.user