.row
  .span12
    %h1
      =h @literature.title
      %small 
        by #{user_link @literature.user} on #{dt(@literature.created_at)}
  .span4 
    .pull-right 
      -if admin?
        =link_to "admin", [:edit, :admin, @literature], :class => 'btn small primary' 
      -if owner?(@literature)
        =link_to "edit", [:edit, @literature], :class => 'btn small'
        =link_to "delete", @literature, :method => :delete, :confirm => "Are you sure you want to delete '#{h @literature.title}'?", :class => 'btn small danger'
%hr.slim
-unless @literature.visible?
  .alert-message.warning
    This submission is hidden
.rich=rich @literature.contents
%hr.slim
=render 'comments/index', :comments => @comments, :commentable => @literature