=nav_li('users#stories', 'stories#show') { link_to "Stories", stories_user_path(user) }
=nav_li('users#series', 'series#show')   { link_to "Series", series_user_path(user) }
=nav_li('users#journals', 'journal#show'){ link_to "Journal", journals_user_path(user) }
=nav_li('users#show'){ link_to "Profile", user }