%h2
  =gravatar user, 48
  =user.name
%H4=user.tagline
-if user.admin?
  %p.muted
-if current_user
  %p=render 'shared/watch_link', watchable: user
%ul.nav.nav-pills.nav-stacked=render 'users/nav', user: user
%hr.slim

%h4 Groups
%ul
  %li 
    %span.label.label-inverse
      =sicon :user_admin
      Member of Admin Team

%h4 Some Stats
%ul
  %li Joined on #{user.created_at}.
  %li Submitted #{user.series.visible.count} series.
  %li Submitted #{user.stories.visible.count} stories.