=render 'nav'
-unless @poems.blank?
  %table.table.table-striped.table-bordered
    %tr
      %th Title
      %th Created
    -@poems.each do |l|
      %tr
        %td=link_to l.title, l
        %td=dt l.created_at
-else
  %p #{@user.name} hasn't submitted anything yet. 