.row
  .span3=render 'users/sidebar', :user => @user
  .span9
    -@user.series.visible.includes(:stories).each do |series|
      -#next if series.stories_count == 0
      %h3
        %small Series: 
        =link_to series.title, series
      %table.table
        %thead
          %tr
            %th
            %th Title
            %th Posted At
        %tbody
          -series.stories.visible.each do |story|
            %tr
              %td=story.series_position
              %td=link_to story.title, story
              %td=story.created_at
    -unless (stories = @user.stories.visible.where(series_id: nil)).count == 0
      %h3 Stories not in a series
      %table.table
        %thead
          %tr
            %th Title
            %th Posted At
        %tbody
          -stories.each do |story|
            %tr
              %td=link_to story.title, story
              %td=story.created_at
  

