=render 'nav'
.row-fluid
  .span8.biography
    -if @user.biography.blank?
      %p #{@user.name} doesn't have a biography. 
    -else
      =h @user.biography
  -unless @stories.blank?
    .span4.recent-literature
      %h3 Recent Stories
      %ul.unstyled
        -@stories.each do |l|
          %li=link_to l.title, l
