=render 'nav'
.row-fluid
  .span8.biography=h @user.biography
  .span4.recent-literature
    %h3 Recent Literature
    %ul.unstyled
      -@user.literatures.recent(5).each do |l|
        %li=link_to l.title, l
