=render 'nav'
-unless @stories.blank?
  %table.table.table-striped.table-bordered
    %tr
      %th Title
      %th Created
    -@stories.each do |l|
      %tr
        %td=icon_link "book", l.title, l
        %td=dt l.created_at
-else
  %p #{@user.name} hasn't submitted anything yet. 