%h2 Forgot your password?
%p 
  If your account is connected to facebook, you can 
  #{link_to "login with your facebook account", omniauth_authorize_path(resource_name, "facebook")} 
  and change your password on your account settings page.

=simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  .form-horizontal
    =f.input :email, hint: link_to("Don't have an account?", new_registration_path(resource_name))
  .form-actions
    =f.button :submit, "Send me reset password instructions", class: 'btn-primary'
    =link_to "Wait, I remember my password!",  new_session_path(resource_name), :class => 'btn'