:ruby
  #required: watchable or (@watch and @watchable)
  #optional: small
  small ||= false
  watch = if @watch # In watchescontroller
    watchable = @watchable
    @watch.persisted? ? @watch : nil
  elsif user_signed_in?
    current_user.watching?(watchable)
  end
  js_id = String.random
  css = "btn btn-info btn-mini"
%span{id:js_id}
  -if user_signed_in? 
    -if watch
      =icon_link "eye-close icon-white", "Unwatch #{watchable.class.name}", '#', class:css, data:{widget:"unwatch-link", replace:"##{js_id}", id:watch.id}
    -else
      =icon_link "eye-open icon-white", "Watch #{watchable.class.name}", '#', class:css, data:{widget:"watch-link", replace:"##{js_id}", class:watchable.class.name, id:watchable.id}
  -else
    Sign in to watch