- @literature = @story || @poem
%ul.btn-list.pull-right 
  -if user_signed_in?
    %li=render 'shared/watch_link', watchable:@literature, small:true
  -if admin?
    %li=link_to "admin", [:edit, :admin, @literature], class:'btn btn-small btn-primary' 
  -if owner?(@literature)
    %li=icon_link "pencil", "Edit", [:edit, @literature], class:'btn btn-small'
    %li=icon_link "trash icon-white", "Delete", @literature, method:"delete", confirm:"Are you sure you want to delete '#{h @literature.title}'?", class:'btn small btn-danger'

%h1
  =h @literature.title
%div
  Created on #{dt(@literature.created_at)}
  by #{user_link @literature.user} 

%hr.slim
-unless @literature.visible?
  .alert-message.warning
    This submission is hidden
.rich=rich @literature.contents
%hr.slim
=render 'comments/index', comments:@comments, commentable:@literature