.row-fluid
  .span6
    %h2 Recent Stories
    %ul.unstyled 
      -@stories.each do |story|
        %li
          =link_to story.title, story
          by
          =user_link story.user
  .span6
    %h2 Latest Site News
    %ul.unstyled 
      -@posts.each do |post|
        %li
          =link_to post.title, post
          by
          =user_link post.user