%h2 Pages
-if @pages
  %table.table.table-striped
    %tr
      %th Title
      %th Created
      %th Author
    -@pages.each do |page|
      %tr
        %td=link_to page.title, page
        %td=dt page.created_at
        %td=user_link page.user

  =paginate @pages
-else
  %p There are no pages. :(