%h2 Stories
-if @stories
  %table.table.table-striped
    %tr
      %th Title
      %th Created
      %th Author
    -@stories.each do |s|
      %tr
        %td=link_to s.title, s
        %td=dt s.created_at
        %td=user_link s.user

  =paginate @stories
-else
  %p Nothing has been submitted yet.