%h2 
  Stories
  -if user_signed_in?
    .pull-right.hidden-phone
      =link_to "New Story", new_story_path, class:'btn btn-success btn-mini'
-if @stories
  %table.table.table-striped
    %tr
      %th Title
      %th.hidden-phone Series
      %th Author
      %th.hidden-phone Created
    -@stories.each do |s|
      %tr
        %td=link_to s.title, s
        %td.hidden-phone
          -if s.series
            \##{s.series_position} of #{link_to s.series.title, s.series}
          -else
            %em None
        %td=user_link s.user
        %td.hidden-phone=dt s.created_at

  =paginate @stories
-else
  %p Nothing has been submitted yet.