%ul.btn-list.pull-right 
  -if user_signed_in?
    %li=render 'shared/watch_link', watchable:@story, small:true
  -if admin?
    %li=link_to "admin", [:edit, :admin, @story], class:'btn btn-mini btn-primary' 
  -if owner?(@story)
    %li=icon_link "pencil", "Edit", edit_story_path(@story, return: here), class:'btn btn-mini'
    %li=icon_link "trash icon-white", "Delete", @story, method:"delete", confirm:"Are you sure you want to delete '#{h @story.title}'?", class:'btn btn-mini btn-danger'

.row
  .span8.offset2
    %h1
      =h @story.title
    %div
      Created on #{dt(@story.created_at)}
      by #{user_link @story.user} 

    %hr.slim
    -unless @story.visible?
      .alert-message.warning
        This submission is hidden
    .rich=rich @story.contents
%hr.slim
=render 'comments/index', comments:@comments, commentable:@story