.article.row
  .span8.offset2
    %h1
      =h @story.title
    .meta-data.vbottom
      Created on #{dt(@story.created_at)}
      by #{link_to @story.user.name, @story.user} 
      =edit_links(@story)

      -if @story.deleted?
        .alert.alert-warning
          This submission has been deleted
      -if @story.locked?
        .alert.alert-warning
          %p
            %strong This submission has been locked
          =rich @story.locked_reason
    /     
      .author-comments
        %h3 Author Comments
        Things are what they are.
    -if @story.series?    
      .series-list
        =render 'series_list', story: @story
    .rich=rich @story.contents