.row
  .span3=render 'users/sidebar', :user => @story.user

  .span9  
    -if @story.deleted?
      .alert.alert-warning
        This submission has been deleted
    -if @story.locked?
      .alert.alert-warning
        %p
          %strong This submission has been locked
        =rich @story.locked_reason
    %article.story
      %h1=h @story.title
      %p.meta
        %span.muted
          Posted 
          =dt(@story.created_at)
          =edit_links @story
        -#@story.tags.each do |tag|
          %span.label=link_to tag.name, tag

      .rich=rich @story.contents  

    .story-buttons.centered-buttons
      .button-wrapper=render 'shared/watch_link', watchable: @story.user
      -if @story.series?
        .button-wrapper=render 'shared/watch_link', watchable: @story.series
      .button-wrapper=render 'shared/fav_link', favable: @story
      .button-wrapper=render 'shared/report_link', reportable: @story

    -if series = @story.series
      - next_story, prev_story = series.next_prev(@story)
      %ul.inline
        -if prev_story
          %li=sicon_link :story, "<< #{prev_story.title}", prev_story
          %li &mdash;
        %li=sicon_link :series, series.title, series
        -if next_story
          %li &mdash;
          %li=sicon_link :story, "#{next_story.title} >>", next_story
