=render 'shared/banners', record: @story
%article.story

  =render 'series_next_prev', story: @story
  
  %h1.text-center=h @story.title
  %p.meta.text-center
    %span.muted
      Posted 
      =dt(@story.created_at)
      by #{user_link @story.user}

  .rich=rich @story.contents  

  =render 'series_next_prev', story: @story

-if current_user
  .centered-ul-wrapper{style: "margin: 1em 0;"}
    %ul.inline
      %li=render 'shared/watch_link', watchable: @story.user, button_size: "small"
      -if @story.series?
        %li=render 'shared/watch_link', watchable: @story.series, button_size: "small"
      %li=render 'shared/fav_link', favable: @story, button_size: "small"
      %li=render 'shared/report_link', reportable: @story, button_size: "small"

.comments