=render 'shared/banners', record: @story
%article.story

  =render 'series_next_prev', story: @story
  
  %h1.text-center=h @story.title
  %p.meta.text-center
    %span.muted
      Posted 
      =dt(@story.created_at)
      by #{user_link @story.user}
  -if bookmark = bookmark_for(@story)
    %p#bookmark-message
      %strong
        You've saved your place
      =icon_link "bookmark", "Continue Reading", "#paragraph-#{bookmark}"
      %strong or
      =icon_link "remove", "Remove Bookmark", '#', id:"clear_bookmark"
      %strong ?

  .rich#story-text{data: {story_id: @story.id, position: bookmark}}=rich @story.contents

  =render 'series_next_prev', story: @story

-if current_user
  .centered-ul-wrapper{style: "margin: 1em 0;"}
    %ul.inline
      %li=render 'shared/watch_link', watchable: @story.user, button_size: "small"
      -if @story.series?
        %li=render 'shared/watch_link', watchable: @story.series, button_size: "small"
      %li=render 'shared/fav_link', favable: @story, button_size: "small"
      %li=render 'shared/report_link', reportable: @story, button_size: "small"

=comments_for @story