.span8.offset2
  .hero-unit
    %h2 
      We can't allow you to access this page      
    %hr.slim
    -if message
      %p=message
    -else
      %p We aren't exactly sure why you're not allowed. Here a few of the many, many possiblities.
      %ul
        -unless user_signed_in?
          %li You may need to be logged in (you aren't right now)
        %li 
          The item you are looking for has been either
          %ol
            %li Locked by an administrator
            %li Hidden by it's owner
            %li Deleted and hasn't yet been permanently removed
            %li Lost due to a space-time distortion thingy.
        %li This page is only for administrators
        %li The server's mail ferret has been chewing on cables again.