- thing ||= "Page"
.hero-unit
  %h1 #{thing} not found
  %p=message ||= "The #{thing.downcase} you were trying to access is not available. It may have been deleted or may have never existed."
  -if @trace && Rails.env.development?
    %pre=@trace