.hero-unit
  %h1 Story not available
  -if @story.locked?
    %p The story was removed on #{@story.locked_at}. The administration has the following to say...
    =rich @story.locked_reason
    -if owner?(@story)
      %p Since you are the owner, you may delete this story. It won't hide it from the administrators but it will remove it from your account. 
      %p=link_to "Delete story", @story, class: 'btn btn-danger', method: :delete, confirm: "Are you sure you want to delete this story?"
  -else
    %p The story was removed by the owner on #{@story.deleted_at}. You'll have to ask them why.
    %p Last known title: #{@story.title} 