%h2 
  Sign in via Email
  %small=link_to "or you can use Facebook instead", omniauth_authorize_path(resource_name, "facebook")

=tb_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  =f.inputs do
    =f.email_field :email, "Email", :required => true, :autofocus => true do
      %span.help-inline=link_to "Don't have an account?", new_registration_path(resource_name)
    =f.password_field :password, "Password", :required => true   do
      %span.help-inline=link_to "Forgot your password?", new_password_path(resource_name)
    =f.toggles do
      =f.check_box :remember_me, "Remember Me" if devise_mapping.rememberable?
  =f.actions do
    =f.submit "Sign In"
