=render 'shared/banners', record: @story
%article.journal
  %h3
    =@journal.title
    %small=dt(@journal.created_at)
  .rich=rich @journal.contents
  =render "journal_next_prev", journal: @journal

-if current_user
  .centered-ul-wrapper{style: "margin: 1em 0;"}
    %ul.inline
      %li=render 'shared/watch_link', watchable: @journal.user, button_size: "small"
      %li=render 'shared/fav_link', favable: @journal, button_size: "small"
      %li=render 'shared/report_link', reportable: @journal, button_size: "small"

=comments_for @journal