=render 'nav', active: @forum_post.forum_category.try(:title)
.article.row
  .span10.offset1
    %h1=@forum_post.title
    .meta-data.vbottom
      Posted in #{link_to @forum_post.forum_category.title, @forum_post.forum_category} 
      on #{dt(@forum_post.created_at)}
      by #{user_link @forum_post.user} 
      =edit_links @forum_post
    .rich=rich @forum_post.contents
    .story-buttons.centered-buttons
      .button-wrapper=render 'shared/fav_link', favable: @forum_post
      .button-wrapper=render 'shared/report_link', reportable: @forum_post