:ruby
  def active_for_action(*actions)
    actions.any?{|action| params[:action] == action } ? "active" : nil
  end

%ul.nav.nav-tabs
  =nav_link('account#show')}=link_to "Overview", account_path
  =nav_link('account#stories')}=link_to "Series & Stories", stories_account_path
  =nav_link('account#forums')}=link_to "Forum Posts", forums_account_path
  =nav_link('account#notifications')}=link_to "Notifications", notifications_account_path
  =nav_link('account#watches')}=link_to "Watches", watches_account_path
  =nav_link('account#favs')}=link_to "Favs", favs_account_path
  =nav_link('account#edit', 'account#update')}=link_to "Edit Profile", edit_account_path