%table.table
  %thead
    %tr
      %th Type
      %th Title
      %th
  %tbody
    -@favs.each do |fav|
      %tr
        %td #{fav.favable_type}: #{link_to(fav.favable.title, fav.favable)}
        %td=render 'shared/fav_link', favable: fav.favable
=paginate @favs