%table.table
  %thead
    %tr
      %th Title
      %th Category
      %th.hidden-phone Last Updated
      %th
  %tbody
    -@forum_posts.each do |post|
      %tr
        %td=link_to post.title, post
        %td=link_to post.forum_category.try(:title)
        %td.hidden-phone=post.bumped_at
        %td
          %small.pull-right
            =icon_link "wrench", "edit", edit_forum_post_path(post, return:here)
=paginate @forum_posts