%p
  %strong Userame:
  =@user.name
%p 
  %strong Email:
  =@user.email
%p 
  %strong Send to Kindle Email:
  =@user.kindle_email
%p
  %strong Series Count:
  =@user.series.count
%p
  %strong Story Count:
  =@user.stories.count