=render 'nav'

%p 
  =link_to "add a series", new_series_path(return: here), class: 'btn btn-mini btn-success'
  &nbsp;
  =link_to "add a story", new_story_path(return: here), class: 'btn btn-mini btn-success'
%hr.slim

-@series.each do |series|
  .row.vbottom
    %h2.inline
      %small Series: 
      =link_to series.title, series
    %small
      =icon_link "plus", "add a story", new_story_path(series: series.id, return: here)
      &nbsp;
      =icon_link "wrench", "edit", edit_series_path(series, return: here)
      &nbsp;
      =icon_link "remove", "remove", series_path(series, return: here), method: :delete, confirm: "Are you sure?"
  %table.table.table-striped
    -series.stories.each do |story|
      %tr
        %td=story.series_position
        %td=link_to story.title, story
        %td
          %small.pull-right
            =icon_link "wrench", "edit", edit_story_path(story, return:here)
            &nbsp;
            =icon_link "remove", "delete", story_path(story, return:here), method: :delete, confirm: "Are you sure?"

-unless @stories.empty?
  %h2 
    Not in a Series
  %table.table.table-striped
    -@stories.each do |story|
      %tr
        %td=link_to story.title, story
        %td
          .pull-right
            =icon_link "wrench", "edit", edit_story_path(story, return:here)
            &nbsp;
            =icon_link "remove", "delete", story_path(story, return:here), method: :delete, confirm: "Are you sure?"
