%table.table
  %thead
    %tr
      %th Title
      %th
  %tbody
    -@watches.each do |watch|
      %tr
        %td #{watch.watchable_type}: #{link_to(watch.watchable.title, watch.watchable)}
        %td=render 'shared/watch_link', watchable: watch.watchable
=paginate @watches