h1, h2, h3, h4, h5, h6{
  &.inline{
    display: inline;
  }
  &.title {
    border-bottom: 1px #ddd solid;
    margin-bottom: 0.3em;
  }
}

// because spelling is hard
.gray, .grey{
  color: #999;
}

.vbottom{
  vertical-align: bottom;
}

.centered-buttons{
  text-align: center;
}

.button-wrapper{
  display: inline-block;
  padding: 0em 1em;
}