#comments{
  margin-top: 3em;
}

.comment-form-actions{
  padding: 19px 20px 20px;
  background-color: whitesmoke;
  border: 1px solid #e5e5e5;
  border-top: 0;
}

.comments p.meta{
  margin-right: 1em;
}