h1, h2, h3, h4, h5, h6{
  &.inline{
    display: inline;
  }
  &.title {
    border-bottom: 1px #ddd solid;
    margin-bottom: 0.3em;
  }
}

// because spelling is hard
.gray, .grey{
  color: #999;
}

.vbottom{
  vertical-align: bottom;
}

.centered-buttons{
  text-align: center;
}

.button-wrapper{
  display: inline-block;
  padding: 0em 1em;
}

.user-link{
  display: inline-block; // prevents the icon from being separated from the link text by wrapping.
}

article{
  &.article{
    background-color: #fff;
    padding: 1em 3em;
    border: 3px solid #666;
  }

  p.meta{
    margin-bottom: 1.6em;
    color: #999999;
  }

}

table.index{
  background-color: #fff;
  border: 2px solid #666;
  
}

