$dark-red: #882111;

$light-bg1: #FFC272;
$mid-bg1: #E3A348;
$bar1-topbg: #eee;
$bar1-midbg: #E3A348;
$bar1-bottombg: #aaa;
$default-text: #121212;
$visited-text: #000000;
$darkbg: #333;
$darkbg-highlight: #222;

body.forem{
  a{
    text-decoration: none;
    color: $dark-red;
    &:hover{
      text-decoration: underline;
    }
  }

  #forums {
    .title {
      font-size: 150%;
    }
  }

  #forum{
    position: relative;
    .secondary-nav{
      position: absolute;
      right: 0;
      top: 0;
    }
    .description{
      font-style: oblique;
    }
    menu{
      padding-left: 0;
    }
  }

  #topic, #forum {
    h2{
      padding: .5em;
      position: relative;
      -webkit-border-radius: 5px;
      background-color: $light-bg1;
      color: $dark-red;
      // margin: 0;
      a.reply{
        margin-right: 1em;
        font-weight: normal;
        position: absolute;
        right: 0;
        padding: .5em;
        background-color: #fff;
        font-size: .5em;
        text-decoration: none;
        &:hover{
          background-color: $light-bg1;
        }
      }
    }
  }

  #posts{
    
    .even{
      background-color: $light-bg1;
    }
    .odd{
      background-color: #FFB65D;
    }
    .post{
      -webkit-border-radius: 10px;
      border: 2px solid black;
      margin-bottom: 20px;
      clear: both;
      position: relative;
      .user{
        float: left;
        font-size: .75em;
        width: 140px;
        display: inline-block;
        padding: .5em 1em;
        .username{
          font-weight: bold;
        }
        .icon{
          background: transparent url(http://placekitten.com/50/50) no-repeat;
          width: 50px;
          height: 50px;
          display: inline-block;
        }
        .member-for{
          width: 80px;
          display: inline-block;
        }
      }
      .contents{
        margin-left: 160px;
        min-height: 100px;
        border-left: 2px solid $mid-bg1;
        padding: 0;

        time{
          // padding: 5px;
          margin-bottom: 1em;
          font-size: .7em;
          line-height: 18px;
        }
        .text{
          margin-right: 100px;
        }
        &:hover .actions{
          display: block;
        }
        .actions{
          // display: none;
          font-size: 1em;
          font-weight: bold;
          position: absolute;
          right: 10px;
          bottom: 0;
          list-style-type: none;
          li{
            a{
              -webkit-border-radius: 3px;
              text-align: center;
              display: block;
              text-decoration: none;
              padding: .25em;
              margin-bottom: .25em;
              color: $dark-red;
              background-color: $mid-bg1;
              &:hover{
                background-color: $dark-red;
                color: $mid-bg1;
              }
            }
          }
        }
      }
    }
  }

  table.subdued{
    width: 100%;
    -webkit-border-radius: 5px;
    border: 3px solid black;
    a{
      color: $dark-red;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
    td, th{
      padding: .5em;
    }
    thead{
      th{
        background-color: $bar1-midbg;
        font-weight: normal;
        text-align: left;
        border-bottom: 1px solid black;
      }
    }
    tbody{
      .subject{
      }
      .started-by{
        font-size: .7em;
      }
      .latest-post{
        font-size: .7em;
        width: 80px;
        a{
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .posts-count, .views-count{
        font-size: .8em;
        width: 80px;
      }
    }
  }

  .pages{
    .page{
      display: inline-block;
      padding: .25em;
      &.current{
        background-color: $light-bg1;
      }
    }
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}