.series-list, .meta-data {
  border-bottom: 2px $hrBorder solid;
}

.meta-data {
  margin-bottom: 0.5em;
}

.author-comments{
  padding-bottom: 1em;
}

.series-list{
  margin-bottom: 1em;
}

.series-list, .author-comments {
  padding-left: 20px;
}

.story-buttons{
  border-top: 2px $hrBorder solid;
  padding: 0.5em 0;
}

article.story{
  background-color: #fff;
  padding: 1em 3em;
  border: 1px solid #ddd;
  p.meta{
    margin-bottom: 1.6em
  }

  @media(max-width: $lgPhone){
    padding: 1em;
    border: 0px;
  }
}

table.stories{
  background-color: #fff;
  border: 1px solid #ddd;
}