
article.story{
  background-color: #fff;
  padding: 1em 3em;
  border: 1px solid #ddd;
  p.meta{
    margin-bottom: 1.6em
  }

  @media(max-width: $lgPhone){
    padding: 1em;
    border: 0px;
  }

  .rich {
    font-size: 16px;
    line-height: 1.67em;
    p {
      margin: 0 0 1.5em;
    }
  }
}

table.stories{
  background-color: #fff;
  border: 1px solid #ddd;
}

// Bookmarks
#story-text{
  position: relative;

  p:hover .bookmark{
    opacity: 0.50;
    &.bookmark-saved{
      opacity: 1;
    }
  }

  .bookmark{
    cursor: pointer;
    opacity: 0.10;
    position: absolute;
    left: -20px;
    &.bookmark-saved{
      opacity: 0.9;
    }
  }
} 
