article.story{
  .rich{
    font-size: 16px;
  }
}

table.stories{
  background-color: #fff;
  border: 1px solid #ddd;
}

// Bookmarks
#story-text{
  position: relative;

  p:hover .bookmark{
    opacity: 0.50;
    &.bookmark-saved{
      opacity: 1;
    }
  }

  .bookmark{
    cursor: pointer;
    opacity: 0.10;
    position: absolute;
    left: -20px;
    &.bookmark-saved{
      opacity: 0.9;
    }
  }
} 
