/* Utility stuff */


html div.not-well{
  margin-bottom: 20px;
  padding: 0 20px;
}

ul.edit-links{
  margin-left: 0;
  list-style: none;
  display: inline;
}

ul.edit-links li{
  display: inline;
  padding-left: 0.3em
}

ul.inline{
  display: inline;
}

ul.btn-list{
  margin: 0;
  list-style: none;
}

ul.btn-list li{
  padding: 0 2px; 
  display: inline;
}
