=render 'shared/banners', record: @series
%section.white-box
  %h3=@series.title
  %p.meta
    %span.muted
      Posted 
      =dt(@series.created_at)
      %span.visible-phone by #{user_link @series.user}
  %table.table.stories
    %thead
      %th Chapter
      %th Title
      %th Word Count
      %th Posted At
    %tbody
      -@series.stories.visible.each do |s|
        %tr
          %td=s.series_position
          %td
            %strong=sicon_link :story, s.title, s
          %td=s.word_count
          %td
            %span.muted=dt s.created_at

  %ul.inline
    %li=render 'shared/watch_link', watchable: @series
    %li=render 'shared/fav_link', favable: @series
    %li=render 'shared/report_link', reportable: @series