%h1
  %small Series:
  =h @series.title
%div 
  By #{link_to @series.user.name, @series.user}

  -if owner? @series
    .pull-right
      =link_to "add a story", new_story_path(series: @series.id, return: here)
      &nbsp;
      =link_to "edit series", edit_series_path(@series, return: here)
%table.table.table-striped
  %tr
    %th
    %th Title
    %th Created
  -@series.stories.visible.each do |s|
    %tr
      %td=s.series_position
      %td=link_to s.title, s
      %td=dt s.created_at