.span6
  %p Lit Social, Copyright 2012-#{Date.today.year} epochwolf
.span6
  %p Source Avaiable At: #{link_to 'https://github.com/epochwolf/litsocial', 'https://github.com/epochwolf/litsocial'}
  

=javascript_include_tag "application"
-if Litsocial::Application::SECRETS["ga_key"]
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '#{Litsocial::Application::SECRETS["ga_key"]}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();