.span6
  %p Lit Social, Copyright 2012-#{Date.today.year} epochwolf
.span6
  %p Source Avaiable At: #{link_to 'https://github.com/epochwolf/litsocial', 'https://github.com/epochwolf/litsocial'}
  

=javascript_include_tag "application"

%script{ :type => "text/javascript",  :src => "/ckeditor/ckeditor.js"}
%script{ :type => "text/javascript",  :src => "/ckeditor/adapters/jquery.js"}