%title Lit Social
=favicon_link_tag 'favicon.png'
=stylesheet_link_tag    "application"
=javascript_include_tag "application"

%script{ :type => "text/javascript",  :src => "/ckeditor/ckeditor.js"}
%script{ :type => "text/javascript",  :src => "/ckeditor/adapters/jquery.js"}
=csrf_meta_tags