:ruby 
  def active_for_controller(*controllers)
    controllers.any?{|controller| params[:controller] == controller } ? "active" : nil
  end

.navbar
  .navbar-inner
    .container-fluid
      =link_to "Lit Social", root_url, :class => 'brand'
      %ul.nav
        %li{:class => active_for_controller("stories")}=link_to "Stories", stories_path
        %li{:class => active_for_controller("series")}=link_to "Series", series_index_path
        %li{:class => active_for_controller("news_posts")}=#link_to "Site News", news_posts_path
        %li{:class => active_for_controller("pages")}=#link_to "Pages", pages_path
        -if user_signed_in?
          %li{:class => active_for_controller("messages")}=#link_to "Messages", account_messages_path(current_user)
          %li{:class => active_for_controller("account")}=link_to "My Account", account_path
        -if admin?
          %li=link_to "Admin Panel", "/admin"
      .pull-right
        -if user_signed_in?
          %ul.nav
            %li.dropdown#navbar_profile_dropdown
              %a.dropdown-toggle{href:"#", data:{toggle:"dropdown", target:'#navbar_profile_dropdown'}}
                %i.icon-user.icon-white
                =current_user.name
                %b.caret
              %ul.dropdown-menu
                %li=icon_link "user", "Public Profile", user_path(current_user)
                %li=icon_link "cog", "My Account", account_path
                %li.divider
                %li=icon_link "book", "New Story", new_story_path
                %li=#icon_link "envelope", "New Message", new_account_message_path(current_user)
                %li.divider
                %li=icon_link "remove-circle", "Logout", destroy_user_session_path, :method => :delete
        -else
          %ul.nav
            %li.dropdown 
              %a.dropdown-toggle{href:"#", data:{toggle:"dropdown"}}
                Sign In / Register
                %b.caret
              %ul.dropdown-menu
                %li=link_to "With My Email", new_user_session_path(:return => here)