:ruby 
  def active_for_controller(*controllers)
    controllers.any?{|controller| params[:controller] == controller } ? "active" : nil
  end

.fill
  .container
    =link_to "Lit Social", root_url, :class => 'brand'
    %ul.nav
      %li{:class => active_for_controller("literatures")}=link_to "Literature", literatures_path
      -if user_signed_in?
        %li{:class => active_for_controller("accounts")}=link_to "My Account", account_path(current_user)
    .pull-right
      %p
        -if user_signed_in?
          Welcome,
          =link_to current_user.name, account_path(current_user)
          (#{link_to "Logout", destroy_user_session_path, :method => :delete})
        -else
          Sign in or sign up with
          =link_to "Facebook", omniauth_authorize_path(:user, "facebook")
          or 
          =link_to "Email", new_user_session_path