!!!
%html{lang: "en"}
  %head=render 'layouts/head'
  
  %body
    .container-fluid
      =render 'layouts/init_facebook'
      #header.row-fluid=render 'layouts/top_bar'
      =render 'layouts/notices'
      #contents.row-fluid
        .span12=yield
      #footer.row-fluid=render 'layouts/footer'
      