!!!
%html{lang: "en"}
  %head=render 'layouts/head'
  %body
    .topbar=render 'layouts/top_bar'
    -if flash[:alert] || flash[:notice]
      .container
        .content
          .row
            .span16
              -if flash[:alert] 
                .alert-message.error{"data-alert" => "alert"}
                  %a.close{:href => '#'} x
                  %p=flash[:alert]
              
              -if flash[:notice] 
                .alert-message.success{"data-alert" => "alert"}
                  %a.close{:href => '#'} x
                  %p=flash[:notice]
      
    .container
      .content
        .row
          .span16=yield
      %footer
        Lit Social, Copyright 2011 epochwolf
        =debug params
    #please_wait.modal.hide
      .modal-header
        %h3 Please wait
      .modal-body
        %p Your request will be processed in the order it was recieved.
      .modal-footer