!!!
%html{lang: "en"}
  %head=render 'layouts/head'
  
  %body
    #wrap
      #header=render 'layouts/top_bar'
      #notices=render 'layouts/notices'
      #contents.container.devise
        .row
          .span8#devise_contents=yield
          .span4#devise_sidebar=render "devise/shared/links"
      #push
    #footer=render 'layouts/footer'