!!!
%html{lang: "en"}
  %head=render 'layouts/head'
  
  %body
    #wrap
      #header=render 'layouts/top_bar'
      #notices=render 'layouts/notices'
      #contents.container.forums
        .row
          .span12=render "forum_posts/nav"
          #forum-contents.span12=yield
          -if content_for? :after_post
            #forum-after-post.span12=yield :after_post
      #push
    #footer=render 'layouts/footer'
