!!!
%html{lang: "en"}
  %head=render 'layouts/head'
  
  %body
    #wrap
      #header=render 'layouts/top_bar'
      #notices=render 'layouts/notices'
      #contents.account.container
        %h2 The Forum
        -if user_signed_in?
          .pull-right=link_to "New Topic", new_forum_post_path(return: here), class: 'btn btn-success btn-mini'
        %ul.nav.nav-tabs.nav-account
          %li{class: @forum_category.nil? ? 'active' : nil}=link_to "All Catergories", forum_posts_path
          -ForumCategory.scoped.each do |cat|
            %li{class: @forum_category == cat ? 'active' : nil}=link_to cat.title, cat

        .contents=yield
      #push
    #footer=render 'layouts/footer'