!!!
%html{lang: "en"}
  %head=render 'layouts/head'
  
  %body
    #wrap
      #header=render 'layouts/top_bar'
      #notices=render 'layouts/notices'
      #contents.container
        .row
          .span12=yield
      #push
    #footer=render 'layouts/footer'