!!!
%html{lang: "en"}
  %head=render 'layouts/head'
  
  %body
    #header=render 'layouts/top_bar'
    #notices=render 'layouts/notices'
    #contents.container.pages
      .contents=yield
    #footer=render 'layouts/footer'