:ruby 
  def active_for(*actions)
    actions.any?{|action| params[:action] == action } ? "active" : nil
  end
-if params[:action] == "stories"
  =link_to "New Story", [:new, :story], :class => "btn btn-success btn-mini pull-right" 
%ul.nav.nav-tabs
  %li{:class => active_for("show")}=icon_link "list", "Overview", account_path(@user)
  %li{:class => active_for("stories")}=icon_link "book", "Stories", stories_account_path(@user)
  %li{:class => active_for("edit", "update")}=icon_link "cog", "Settings", edit_account_path(@user)