:ruby 
  def active_for(*actions)
    actions.any?{|action| params[:action] == action } ? "active" : nil
  end
-if params[:action] == "literatures"
  =link_to "New Literature", [:new, :literature], :class => "btn btn-success btn-small pull-right" 
%ul.nav.nav-tabs
  %li{:class => active_for("show")}=link_to "Overview", account_path(@user)
  %li{:class => active_for("literatures")}=link_to "Literature", literatures_account_path(@user)
  %li{:class => active_for("edit", "update")}=link_to "Settings", edit_account_path(@user)