=render 'nav'

=tb_form_for @user, :url => account_path(@user) do |f|
  -if @user.invalid?
    .alert-message.error{"data-alert" => "alert"}
      %a.close{:href => '#'} x
      %p There was an error saving changes.
  =f.inputs "Your Profile" do
    =f.text_field :name, :hint => "Your name on the site." do
      %span.help-block This is how you will be identified to other users.
    =f.select :gender, "Gender", [["Male", "male"], ["Female", "female"], ["Don't Show", ""]]
    =f.text_area :biography, "About Me", :class => 'xxlarge', :rows => '5'
  =f.inputs "Account Details" do
    =f.email_field :email, :hint => "Not displayed, used for logging in or to recover your account." do
      %span.help-block Never displayed on your profile, used only for login or recovering your account.
    .clearfix
      %label Facebook Profile
      .input
        -if @user.linked_to_facebook?
          %p
            #{link_to @user.facebook_name, @user.facebook_profile}
        -else
          %p 
            %em Not connected.
            =link_to "Connect my profile", omniauth_authorize_path(:user, "facebook")
        %span.help-block Never displayed on your profile, used only for login.
        
    =f.password_field :password do
      %span.help-block Leave blank if you don't want to update your password.
    =f.password_field :password_confirmation
  =f.actions do
    =f.submit "Update"
    =link_to "Cancel", return_path('/'), :class => "btn"
    
.well
  %h4 Canceling your account
  %p 
    We can't cancel accounts yet. If you want to close your account please delete all literature in your account and 
    change your name to "Closed Account". An administrator will permanently delete your account at a 
    later date.
  %h4 Disconnecting your account from facebook
  %p Please email an administrator at help@litsocial.com and they can manually unlink your account from facebook.


%h3 Debug Info
=debug @user
