=render 'nav'
-unless @stories.blank?
  %table.table.table-striped.table-bordered
    %tr
      %th Title
      %th Created
      %th
    -@stories.each do |l|
      %tr
        %td=link_to l.title, l
        %td=dt l.created_at
        %td
          %ul.btn-list
            %li=icon_link "edit", "Edit", edit_story_path(l, :return => here), class:'btn btn-mini'
            %li=icon_link "remove", "Delete", l, :method => :delete, :confirm => "Are you sure you want to delete '#{h l.title}'?", :class => 'btn btn-mini btn-danger'
            
-else
  %p You haven't submitted anything yet. 